<%= form_with(model: post1) do |form| %>
  <% if post1.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post1.errors.count, "error") %> prohibited this post1 from being saved:</h2>

      <ul>
        <% post1.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name2, style: "display: block" %>
    <%= form.text_field :name2 %>
  </div>

  <div>
    <%= form.label :stream2, style: "display: block" %>
    <%= form.text_field :stream2 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
